@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 9%;
    --foreground: 0 0% 100%;
    
    --card: 220 8% 12%;
    --card-foreground: 0 0% 100%;
 
    --popover: 220 7% 10%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 210 100% 50%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 215 25% 18%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 215 25% 20%;
    --muted-foreground: 215 10% 60%;
 
    --accent: 215 25% 25%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 72% 29%;
    --success-foreground: 210 40% 98%;

    --border: 215 25% 18%;
    --input: 215 25% 18%;
    --ring: 215 25% 40%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.animate-fly-up {
  animation: fly-up 1s ease-out forwards;
}
